body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input[type="text"],
input[type="password"] {
  background-color: #ebf0fc;
  border: none;
  border-radius: 50px;
  padding: 12px;
  font-size: 16px;
  margin-bottom: 20px;
  width: 85%;
}

input:focus {
  outline: none;
}

input:first-of-type {
  margin-bottom: 3px;
}

.popup {
  width: 400px;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0px 10px 20px -2px rgba(0, 0, 0, 0.29);
}

h3 {
  margin: 25px 0 35px;
  font-weight: 300;
  font-size: 30px;
}

.inner-popup > button {
  width: 90%;
  border-radius: 100px;
  border: none;
  padding: 12px;
  background-color: rgb(0, 123, 255);
  color: white;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 25px;
  transition: 100ms all;
}

.inner-popup > button:hover {
  background-color: rgb(64, 156, 254);
}

.inner-popup > button:active {
  background-color: rgb(0, 96, 198);
}

.inner-popup {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.outer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url("./assets/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar {
  background: rgba(0, 102, 255, 0.523);
  display: flex;
  backdrop-filter: blur(14.5px);
  -webkit-backdrop-filter: blur(14.5px);
}

.navbar > .img > a {
  margin-left: 10px;
  padding: 8px;
  display: flex;
  align-items: center;
}

.navbar > a {
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 18px;
  text-decoration: none;
}

.space {
  flex: 1;
}

.main {
  margin: 15px;
}

body {
  background-color: rgb(238, 238, 238);
}

.welcome-panel,
.users-panel,
.select-panel {
  background-color: white;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 15px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(14.5px);
  -webkit-backdrop-filter: blur(14.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.welcome-panel > h3 {
  margin: 0;
  font-size: 25px;
  margin-bottom: 10px;
}

@media only screen and (min-width: 850px) {
  .main {
    width: 850px;
    margin: 15px auto;
  }
}

table {
  width: 100%;
}

th {
  text-align: left;
}

td > a {
  text-decoration: none;
  color: #2588cb !important;
  cursor: pointer;
}

.fa-pencil-alt {
  color: #e1c953;
}

.fa-trash-alt {
  color: #e95a4d;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.select-panel > .left-side > img {
  vertical-align: middle;
  margin-right: 0.3em;
  margin-left: -0.2em;
}

table > thead > tr:hover {
  background: rgba(255, 255, 255, 0.5) !important;
  backdrop-filter: blur(14.5px);
}

th,
td {
  padding: 10px;
}

table {
  border-spacing: 0px !important;
  border-collapse: collapse;
  border-radius: 12px;
  overflow: hidden;
}

tr:nth-child(odd) {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(14.5px);
}

tr:nth-child(even) {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(14.5px);
}

tr:hover {
  background: rgba(81, 140, 242, 0.187);
  backdrop-filter: blur(14.5px);
}

.users-panel {
  padding: 0 !important;
}

.select-panel > .left-side > a {
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  color: #2588cb !important;
}

.select-panel > .left-side > span {
  color: #2588cb !important;
  cursor: pointer;
}

a:hover,
.select-panel > .left-side > span:hover,
.select-panel > .left-side > a:hover {
  text-decoration: underline;
}

a[href="/logout"]:hover {
  text-decoration: none;
}

.select-panel > button {
  border-radius: 100px;
  border: none;
  padding: 8px;
  background-color: rgb(9, 198, 53);
  color: white;
  font-size: 14px;
  transition: 200ms all;
  cursor: pointer;
}

.select-panel > button:hover {
  background-color: rgb(37, 208, 57);
}

.select-panel > button:active {
  background-color: rgb(10, 198, 0);
}

.select-panel > button > span::after {
  content: "Thêm người dùng";
}

@media only screen and (max-width: 530px) {
  .select-panel > button > span::after {
    content: "";
  }

  .users-panel {
    overflow-y: scroll;
  }
}

.rot {
  position: relative;
  z-index: 2;
  padding-bottom: 15px;
}

#bg {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}

#bg > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 9; /* Specify a stack order in case you're using a different order for other elements */
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  color: rgb(213, 213, 213);
  padding: 15px;
  border-radius: 10px;
}

.select-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left-side {
  flex: 1;
}
